#body{
    color: black;
}

p, ul, .section{
    color:#E5C95F;
}

.section-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#mainContent{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh 100vh;
}

#section-1{
    background-color: #05339C;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#section-2{
    background-color: #1055C9;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.card-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-image{
    width: 50%;
}

.card-content{
    width: 50%;
}